# 04-100 : Features - Random Forest Baseline - [0.664] :: 001

Attempt to replicate the results from `0100_random-forest-baseline-0-664.ipynb`.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import logging
from typing import Any, Dict, List, Tuple, Callable

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mlflow
from tqdm.auto import tqdm

import tensorflow_addons as tfa
import keras as k
from keras import optimizers
import keras_tuner
import keras_tuner as kt

from sklearn.metrics import classification_report, ConfusionMatrixDisplay
from sklearn.metrics import f1_score

from competition import data_preparation as dp
from competition import feature_engineering as fe
from competition import model_data as md
from competition import source_data as sd
import competition.models.simple_dense as sd_model
from competition.models.heatmap_covnet import HeatmapCovnetModel

from competition.model_training import mprint, mflush, mclear
from competition.predict import PredictionBase, Baseline, HeatmapPredictor

2023-04-23 14:07:51.037317: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

### Configure Logging

In [3]:
logging.basicConfig(
    format='%(asctime)s %(levelname)-8s %(message)s',
    level=logging.INFO,
    datefmt='%Y-%m-%d %H:%M:%S',
        handlers=[
        logging.StreamHandler(sys.stdout)
    ])

logging.info("Started")

2023-04-23 14:07:53 INFO     Started

## Data Collection

In [4]:
# load the source training set
df_source = sd.read_csv('../data/train.csv.gz',
                        compression='gzip',
                        dtype=sd.source_dtype)

(13174211, 20)

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,NaN,NaN,NaN,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4

In [5]:
# load the source training labels
df_source_labels = sd.read_csv('../data/train_labels.csv')

(212022, 2)

             session_id  correct
0  20090312431273200_q1        1
1  20090312433251036_q1        0
2  20090314121766812_q1        1

## Data Preparation & Cleaning

In [6]:
# prepare the main dataset
df_source = dp.prepare_main_dataset(df_source)

# remove sessions with problems
problem_sessions = dp.find_problem_sessions(df_source)
df_source = df_source[~df_source['session_id'].isin(problem_sessions)]

In [7]:
# prepare the label dataset
df_source_labels = dp.prepare_label_dataset(df_source_labels)

# remove sessions with problems
df_source_labels = df_source_labels[~df_source_labels['session_id'].isin(problem_sessions)]

## Feature Engineering

In [8]:
# create the initial features
df_features = fe.create_initial_features(df_source, df_source_labels)

In [9]:
# add the elapsed time feature to the features dataset
df_features = fe.add_elapsed_time_features(
    features=df_features,
    X=df_source)

In [10]:
# add the total count features to the features dataset
df_features = fe.add_count_total_features(
    features=df_features,
    X=df_source)

In [11]:
# add the unique count features to the features dataset
df_features = fe.add_count_unique_features(
    features=df_features,
    X=df_source)

In [12]:
# add the numeric features to the features dataset
df_features = fe.add_numeric_features(
    features=df_features,
    X=df_source)

In [13]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(pd.DataFrame(df_features.dtypes))

## Data Selection

In [14]:
random_state = 51

In [15]:
# split the dataset into train, validation and test sets
train, val, test = md.select_sessions(
    y=df_source_labels,
    random_state=random_state,
    test_size=0.60,
    train_size=0.75)

Train: 3495
Validation: 1165
Test: 6988

## Model Training

### Functions

In [ ]:
# create the hyperparameter object
def define_tune_parameters(hp):
    hp.Int('dense_layer_count', min_value=1, max_value=6, step=1)
    hp.Int('dense_units', min_value=512, max_value=1700, step=32)
    hp.Choice('dense_activation', values=['relu', 'tanh', 'LeakyReLU'])
    hp.Float('dense_l1_regularization', min_value=0.0, max_value=0.0005, step=0.00001)
    hp.Float('dense_l2_regularization', min_value=0.0, max_value=0.001, step=0.0001)
    hp.Float('dense_dropout', min_value=0.005, max_value=0.1, step=0.005)
    hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4, 1e-5, 1e-6])

In [ ]:
def perform_experiment(experiment_name:str,
                       train:np.ndarray,
                       val:np.ndarray,
                       test:np.ndarray,
                       labels:pd.DataFrame,
                       features:pd.DataFrame,
                       feature_list:List[str],
                       define_tune_parameters:Callable,
                       max_trials:int=50,
                       tune_patience:int=10) ->None:
    """
    Performs an experiment with the given features and hyperparameter tuning.
    """
    # create the simple model dataset
    simple_model_dataset = md.get_feature_dataset(
        features=features,
        y=labels,
        feature_list=feature_list,
        train=train,
        val=val,
        test=test,
        include_question=True,
        expand_question=False)
    
    # convert the labels for multi-label classification
    cat_features_dataset = md.labels_to_categorical(simple_model_dataset)

    # get the shape of the question only dataset
    input_data = cat_features_dataset['train']['X']
    features_dataset_shape = input_data.shape[1]
    print('features_dataset_shape:', features_dataset_shape)

    # define the output shape
    output_data = cat_features_dataset['train']['y']
    output_shape = output_data.shape[1]
    print('output_shape', output_shape)

    # create the experiment
    mlflow.set_experiment(experiment_name)
    mlflow.end_run()

    # find the best model
    for batch_size in [500, 1000, 2000, 3000, 4000]:
        for optimizer in [optimizers.Adam, optimizers.RMSprop]:
            sd_model.tune_model(
                define_tune_parameters=define_tune_parameters,
                dataset=cat_features_dataset,
                max_trials=max_trials,
                input_shape=features_dataset_shape,
                output_shape=output_shape,
                dense_layer_count='dense_layer_count',
                dense_units='dense_units',
                dense_activation='dense_activation',
                dense_l1_regularization='dense_l1_regularization',
                dense_l2_regularization='dense_l2_regularization',
                dense_dropout='dense_dropout',
                train_epochs=2000,
                train_batch_size=batch_size,
                train_optimizer=optimizer,
                train_learning_rate='learning_rate',
                train_loss='categorical_crossentropy',
                train_metrics=[tfa.metrics.F1Score(name='f1_score', num_classes=2, threshold=0.5, average='macro')],
                train_class_weight=None,
                tune_objective='val_f1_score',
                tune_direction='max',
                tuner_type=kt.tuners.BayesianOptimization,
                tune_patience=tune_patience)

### Baseline Model Features

In [ ]:
perform_experiment(
    experiment_name='04_000_baseline',
    train=train,
    val=val,
    test=test,
    labels=df_source_labels,
    features=df_features,
    feature_list=['elapsed_time_sum', 'elapsed_time_max', 'elapsed_time_min', 'elapsed_time_mean', 'elapsed_time_mode'],
    define_tune_parameters=define_tune_parameters,
)

### Create Datasets

In [ ]:
feature_list = [
    'count_unique_event_name',
    'count_unique_name',
    'count_unique_fqid',
    'count_unique_room_fqid',
    'count_unique_text_fqid',
    'elapsed_time_mean',
    'level_mean',
    'page_mean',
    'room_coor_x_mean',
    'room_coor_y_mean',
    'screen_coor_x_mean',
    'screen_coor_y_mean',
    'hover_duration_mean',
    'elapsed_time_std',
    'level_std',
    'page_std',
    'room_coor_x_std',
    'room_coor_y_std',
    'screen_coor_x_std',
    'screen_coor_y_std',
    'hover_duration_std'
]

In [ ]:
# set all nan values to 0
df_features = df_features.fillna(0)

In [ ]:
# create the simple model dataset
simple_model_dataset = md.get_feature_dataset(
    features=df_features,
    y=df_source_labels,
    feature_list=feature_list,
    train=train,
    val=val,
    test=test,
    include_question=True,
    expand_question=False)

In [ ]:
# convert the labels for multi-label classification
cat_features_dataset = md.labels_to_categorical(simple_model_dataset)

In [ ]:
# get the shape of the question only dataset
input_data = cat_features_dataset['train']['X']
features_dataset_shape = input_data.shape[1]
print('features_dataset_shape:', features_dataset_shape)

# define the output shape
output_data = cat_features_dataset['train']['y']
output_shape = output_data.shape[1]
print('output_shape', output_shape)

### Training

In [ ]:
# create the experiment
mlflow.set_experiment("04_001")

In [ ]:
mlflow.end_run()

In [ ]:
# create the hyperparameter object
def define_tune_parameters(hp):
    hp.Int('dense_layer_count', min_value=1, max_value=6, step=1)
    hp.Int('dense_units', min_value=512, max_value=1700, step=32)
    hp.Choice('dense_activation', values=['relu', 'tanh', 'LeakyReLU'])
    hp.Float('dense_l1_regularization', min_value=0.0, max_value=0.0005, step=0.00001)
    hp.Float('dense_l2_regularization', min_value=0.0, max_value=0.001, step=0.0001)
    hp.Float('dense_dropout', min_value=0.005, max_value=0.1, step=0.005)
    hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4, 1e-5, 1e-6])

In [ ]:
# find the best model
for batch_size in [500, 1000, 2000, 3000, 4000]:
    for optimizer in [optimizers.Adam, optimizers.RMSprop]:
        sd_model.tune_model(
            define_tune_parameters=define_tune_parameters,
            dataset=cat_features_dataset,
            max_trials=50,
            input_shape=features_dataset_shape,
            output_shape=output_shape,
            dense_layer_count='dense_layer_count',
            dense_units='dense_units',
            dense_activation='dense_activation',
            dense_l1_regularization='dense_l1_regularization',
            dense_l2_regularization='dense_l2_regularization',
            dense_dropout='dense_dropout',
            train_epochs=2000,
            train_batch_size=batch_size,
            train_optimizer=optimizer,
            train_learning_rate='learning_rate',
            train_loss='categorical_crossentropy',
            train_metrics=[tfa.metrics.F1Score(name='f1_score', num_classes=2, threshold=0.5, average='macro')],
            train_class_weight=None,
            tune_objective='val_f1_score',
            tune_direction='max',
            tuner_type=kt.tuners.BayesianOptimization,
            tune_patience=10)

## PyCaret

reference: https://pycaret.gitbook.io/docs/learn-pycaret/official-blog/predicting-crashes-in-gold-prices-using-pycaret#ensemble-models

In [36]:
!pip install xgboost==1.6.2

Requirement already satisfied: xgboost==1.6.2 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (1.6.2)
Requirement already satisfied: numpy in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from xgboost==1.6.2) (1.23.5)
Requirement already satisfied: scipy in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from xgboost==1.6.2) (1.9.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [38]:
!pip install catboost==1.1.1

Requirement already satisfied: catboost==1.1.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (1.1.1)
Requirement already satisfied: scipy in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (1.9.3)
Requirement already satisfied: plotly in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (5.14.1)
Requirement already satisfied: matplotlib in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (3.6.0)
Requirement already satisfied: graphviz in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (0.20.1)
Requirement already satisfied: six in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (1.16.0)
Requirement already satisfied: pandas>=0.24.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (1.5.3)
Requirement already satisfied: numpy>=1.16.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from catboost==1.1.1) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from pandas>=0.24.0->catboost==1.1.1) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from pandas>=0.24.0->catboost==1.1.1) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (4.39.3)
Requirement already satisfied: pillow>=6.2.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (9.5.0)
Requirement already satisfied: packaging>=20.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from matplotlib->catboost==1.1.1) (23.1)
Requirement already satisfied: tenacity>=6.2.0 in /root/miniconda3/envs/pycaret/lib/python3.8/site-packages (from plotly->catboost==1.1.1) (8.2.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [32]:
from pycaret.classification import *
from sklearn.metrics import classification_report

In [17]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(pd.DataFrame(df_features.dtypes))

### Create Datasets

In [18]:
def get_features_with_labels(features:pd.DataFrame,
                            y:pd.DataFrame) -> pd.DataFrame:
    """
    Create a complete dataset where the label dataset containing the
    target variable is joint to the features dataset.
    """
    return y.join(features.set_index(['session_id', 'level_group']),
                    on=['session_id', 'level_group'],
                    how='left')

In [19]:
# combine the features and labels
df_combined = get_features_with_labels(features=df_features, y=df_source_labels)

with pd.option_context('display.max_columns', None):
    display(df_combined.head(2))

,session_id,question_num,correct,level_group,elapsed_time_sum,elapsed_time_max,elapsed_time_min,elapsed_time_mean,elapsed_time_mode,elapsed_time_std,count_total_event_name,count_total_name,count_total_fqid,count_total_room_fqid,count_total_text_fqid,count_total_level,count_unique_event_name,count_unique_name,count_unique_fqid,count_unique_room_fqid,count_unique_text_fqid,count_unique_level,level_sum,level_max,level_min,level_mean,level_mode,level_std,page_sum,page_max,page_min,page_mean,page_mode,page_std,room_coor_x_sum,room_coor_x_max,room_coor_x_min,room_coor_x_mean,room_coor_x_mode,room_coor_x_std,room_coor_y_sum,room_coor_y_max,room_coor_y_min,room_coor_y_mean,room_coor_y_mode,room_coor_y_std,screen_coor_x_sum,screen_coor_x_max,screen_coor_x_min,screen_coor_x_mean,screen_coor_x_mode,screen_coor_x_std,screen_coor_y_sum,screen_coor_y_max,screen_coor_y_min,screen_coor_y_mean,screen_coor_y_mode,screen_coor_y_std,hover_duration_sum,hover_duration_max,hover_duration_min,hover_duration_mean,hover_duration_mode,hover_duration_std
0,20090312431273200,1,1,0-4,0.008799,0.052789,0.0,0.023242,0.0,0.013341,0.088782,0.088782,0.064620,0.088782,0.054054,0.088782,0.75,0.000000,0.203390,0.090909,0.225,0.0,0.008384,0.111111,0.0,0.054040,0.083333,0.034194,0.0,NaN,NaN,NaN,0.0,NaN,0.602928,0.878566,0.120715,0.513742,0.351427,0.664471,0.611251,1.0,0.274126,0.524590,0.431725,0.736468,0.108532,0.672249,0.008772,0.357584,0.303030,0.171348,0.112915,0.875934,0.010463,0.493341,0.400598,0.076357,0.131210,1.0,0.005638,0.413060,1.0,0.487796
1,20090312433251036,1,0,0-4,0.008434,0.063325,0.0,0.026450,0.0,0.018252,0.057588,0.057588,0.053312,0.057588,0.050874,0.057588,1.00,0.333333,0.067797,0.000000,0.075,0.0,0.005167,0.111111,0.0,0.051958,0.083333,0.034239,0.0,0.0,0.0,0.0,0.0,0.0,0.531360,0.870427,0.082633,0.478427,0.358741,0.682440,0.629244,1.0,0.050337,0.542916,0.491507,0.763788,0.043705,0.697767,0.000000,0.285664,0.318182,0.201399,0.075188,0.875934,0.007474,0.474922,0.403587,0.101738,0.100932,1.0,0.005638,0.317745,1.0,0.428841

In [20]:
# get the training, validation and test datasets
df_train = df_combined[df_combined['session_id'].isin(train)].drop(columns=['session_id'])
df_val = df_combined[df_combined['session_id'].isin(val)].drop(columns=['session_id'])
df_test = df_combined[df_combined['session_id'].isin(test)].drop(columns=['session_id'])

with pd.option_context('display.max_columns', None):
    display(df_train.head(2))

,question_num,correct,level_group,elapsed_time_sum,elapsed_time_max,elapsed_time_min,elapsed_time_mean,elapsed_time_mode,elapsed_time_std,count_total_event_name,count_total_name,count_total_fqid,count_total_room_fqid,count_total_text_fqid,count_total_level,count_unique_event_name,count_unique_name,count_unique_fqid,count_unique_room_fqid,count_unique_text_fqid,count_unique_level,level_sum,level_max,level_min,level_mean,level_mode,level_std,page_sum,page_max,page_min,page_mean,page_mode,page_std,room_coor_x_sum,room_coor_x_max,room_coor_x_min,room_coor_x_mean,room_coor_x_mode,room_coor_x_std,room_coor_y_sum,room_coor_y_max,room_coor_y_min,room_coor_y_mean,room_coor_y_mode,room_coor_y_std,screen_coor_x_sum,screen_coor_x_max,screen_coor_x_min,screen_coor_x_mean,screen_coor_x_mode,screen_coor_x_std,screen_coor_y_sum,screen_coor_y_max,screen_coor_y_min,screen_coor_y_mean,screen_coor_y_mode,screen_coor_y_std,hover_duration_sum,hover_duration_max,hover_duration_min,hover_duration_mean,hover_duration_mode,hover_duration_std
1,1,0,0-4,0.008434,0.063325,0.0,0.026450,0.0,0.018252,0.057588,0.057588,0.053312,0.057588,0.050874,0.057588,1.0,0.333333,0.067797,0.000000,0.075,0.0,0.005167,0.111111,0.0,0.051958,0.083333,0.034239,0.0,0.0,0.0,0.0,0.0,0.0,0.531360,0.870427,0.082633,0.478427,0.358741,0.682440,0.629244,1.0,0.050337,0.542916,0.491507,0.763788,0.043705,0.697767,0.000000,0.285664,0.318182,0.201399,0.075188,0.875934,0.007474,0.474922,0.403587,0.101738,0.100932,1.0,0.005638,0.317745,1.000000,0.428841
4,1,1,0-4,0.005140,0.047938,0.0,0.021001,0.0,0.012045,0.019196,0.019196,0.025848,0.019196,0.022258,0.019196,0.5,0.000000,0.067797,0.090909,0.050,0.0,0.002373,0.111111,0.0,0.053738,0.055556,0.035234,0.0,NaN,NaN,NaN,0.0,NaN,0.609612,0.879013,0.154895,0.520039,0.470365,0.664119,0.644255,1.0,0.313764,0.560751,0.450186,0.728845,0.030450,0.688198,0.023126,0.343544,0.356459,0.175123,0.031477,0.792227,0.000000,0.457029,0.382661,0.072820,0.135595,1.0,0.005307,0.379436,0.165837,0.424970

### Setup Classification Experiment

In [21]:
fix_imbalance_method = 'SMOTE' #'RandomOverSampler'

classifier = setup(
    data=df_train,
    target='correct',
    test_data=df_val,
    session_id=random_state,
    experiment_name='04_001_pycaret',
    fix_imbalance=True,
    fix_imbalance_method=fix_imbalance_method,
    use_gpu=False,
    html=True,
    verbose=True)

### Training

In [22]:
top_model = compare_models(n_select=15, sort='F1', turbo=True)

#### Create Top Models

In [23]:
model_qda = create_model('qda')

In [24]:
model_et = create_model('et')

In [25]:
model_rf = create_model('rf')

In [26]:
model_lr = create_model('lr')

#### Hyper-Parameter Tuning

In [27]:
tuned_qda = tune_model(model_qda, optimize='F1', n_iter=50)

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [28]:
tuned_et = tune_model(model_et, optimize='F1', n_iter=50)

Fitting 10 folds for each of 50 candidates, totalling 500 fits

In [29]:
tuned_rf = tune_model(model_rf, optimize='F1', n_iter=50)

Fitting 10 folds for each of 50 candidates, totalling 500 fits

In [30]:
tuned_lr = tune_model(model_lr, optimize='F1', n_iter=50)

Fitting 10 folds for each of 50 candidates, totalling 500 fits

### Evaluate Models : Unseen Dataset

In [31]:
df_qda = predict_model(estimator=tuned_qda, data=df_test)
print(classification_report(y_true=df_qda.correct, y_pred=df_qda.prediction_label))

              precision    recall  f1-score   support

           0       0.32      0.14      0.20     37388
           1       0.71      0.87      0.78     88396

    accuracy                           0.65    125784
   macro avg       0.51      0.51      0.49    125784
weighted avg       0.59      0.65      0.61    125784

In [33]:
df_et = predict_model(estimator=tuned_et, data=df_test)
print(classification_report(y_true=df_et.correct, y_pred=df_et.prediction_label))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     37388
           1       0.70      1.00      0.83     88396

    accuracy                           0.70    125784
   macro avg       0.35      0.50      0.41    125784
weighted avg       0.49      0.70      0.58    125784

In [34]:
df_rf = predict_model(estimator=tuned_rf, data=df_test)
print(classification_report(y_true=df_rf.correct, y_pred=df_rf.prediction_label))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     37388
           1       0.70      1.00      0.83     88396

    accuracy                           0.70    125784
   macro avg       0.35      0.50      0.41    125784
weighted avg       0.49      0.70      0.58    125784

In [35]:
df_lr = predict_model(estimator=tuned_lr, data=df_test)
print(classification_report(y_true=df_lr.correct, y_pred=df_lr.prediction_label))

              precision    recall  f1-score   support

           0       0.40      0.62      0.49     37388
           1       0.79      0.61      0.69     88396

    accuracy                           0.62    125784
   macro avg       0.60      0.62      0.59    125784
weighted avg       0.68      0.62      0.63    125784