# 04-100 : Features - Random Forest Baseline - [0.664] :: 001

Attempt to replicate the results from `0100_random-forest-baseline-0-664.ipynb`.

In [101]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [52]:
import sys
import logging
from typing import Any, Dict, List, Tuple, Callable

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mlflow
from tqdm.auto import tqdm

import tensorflow_addons as tfa
import keras as k
from keras import optimizers
import keras_tuner
import keras_tuner as kt

from sklearn.metrics import classification_report, ConfusionMatrixDisplay
from sklearn.metrics import f1_score

from competition import data_preparation as dp
from competition import feature_engineering as fe
from competition import model_data as md
from competition import source_data as sd
import competition.models.simple_dense as sd_model
from competition.models.heatmap_covnet import HeatmapCovnetModel

from competition.model_training import mprint, mflush, mclear, optimize_f1
from competition.predict import PredictionBase, Baseline, HeatmapPredictor

### Configure Logging

In [3]:
logging.basicConfig(
    format='%(asctime)s %(levelname)-8s %(message)s',
    level=logging.INFO,
    datefmt='%Y-%m-%d %H:%M:%S',
        handlers=[
        logging.StreamHandler(sys.stdout)
    ])

logging.info("Started")

2023-04-24 07:08:53 INFO     Started

## Data Collection

In [4]:
# load the source training set
df_source = sd.read_csv('../data/train.csv.gz',
                        compression='gzip',
                        dtype=sd.source_dtype)

(13174211, 20)

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,NaN,NaN,NaN,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4

In [5]:
# load the source training labels
df_source_labels = sd.read_csv('../data/train_labels.csv')

(212022, 2)

             session_id  correct
0  20090312431273200_q1        1
1  20090312433251036_q1        0
2  20090314121766812_q1        1

## Data Preparation & Cleaning

In [6]:
# prepare the main dataset
df_source = dp.prepare_main_dataset(df_source)

# remove sessions with problems
problem_sessions = dp.find_problem_sessions(df_source)
df_source = df_source[~df_source['session_id'].isin(problem_sessions)]

In [7]:
# prepare the label dataset
df_source_labels = dp.prepare_label_dataset(df_source_labels)

# remove sessions with problems
df_source_labels = df_source_labels[~df_source_labels['session_id'].isin(problem_sessions)]

## Feature Engineering

In [8]:
# create the initial features
df_features = fe.create_initial_features(df_source, df_source_labels)

In [9]:
# add the elapsed time feature to the features dataset
df_features = fe.add_elapsed_time_features(
    features=df_features,
    X=df_source)

In [10]:
# add the total count features to the features dataset
df_features = fe.add_count_total_features(
    features=df_features,
    X=df_source)

In [11]:
# add the unique count features to the features dataset
df_features = fe.add_count_unique_features(
    features=df_features,
    X=df_source)

In [12]:
# add the numeric features to the features dataset
df_features = fe.add_numeric_features(
    features=df_features,
    X=df_source)

In [13]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(pd.DataFrame(df_features.dtypes))

## Data Selection

In [14]:
random_state = 51

In [15]:
# split the dataset into train, validation and test sets
train, val, test = md.select_sessions(
    y=df_source_labels,
    random_state=random_state,
    test_size=0.60,
    train_size=0.75)

Train: 3495
Validation: 1165
Test: 6988

## Model Training

### Functions

In [ ]:
# create the hyperparameter object
def define_tune_parameters(hp):
    hp.Int('dense_layer_count', min_value=1, max_value=6, step=1)
    hp.Int('dense_units', min_value=512, max_value=1700, step=32)
    hp.Choice('dense_activation', values=['relu', 'tanh', 'LeakyReLU'])
    hp.Float('dense_l1_regularization', min_value=0.0, max_value=0.0005, step=0.00001)
    hp.Float('dense_l2_regularization', min_value=0.0, max_value=0.001, step=0.0001)
    hp.Float('dense_dropout', min_value=0.005, max_value=0.1, step=0.005)
    hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4, 1e-5, 1e-6])

In [ ]:
def perform_experiment(experiment_name:str,
                       train:np.ndarray,
                       val:np.ndarray,
                       test:np.ndarray,
                       labels:pd.DataFrame,
                       features:pd.DataFrame,
                       feature_list:List[str],
                       define_tune_parameters:Callable,
                       max_trials:int=50,
                       tune_patience:int=10) ->None:
    """
    Performs an experiment with the given features and hyperparameter tuning.
    """
    # create the simple model dataset
    simple_model_dataset = md.get_feature_dataset(
        features=features,
        y=labels,
        feature_list=feature_list,
        train=train,
        val=val,
        test=test,
        include_question=True,
        expand_question=False)
    
    # convert the labels for multi-label classification
    cat_features_dataset = md.labels_to_categorical(simple_model_dataset)

    # get the shape of the question only dataset
    input_data = cat_features_dataset['train']['X']
    features_dataset_shape = input_data.shape[1]
    print('features_dataset_shape:', features_dataset_shape)

    # define the output shape
    output_data = cat_features_dataset['train']['y']
    output_shape = output_data.shape[1]
    print('output_shape', output_shape)

    # create the experiment
    mlflow.set_experiment(experiment_name)
    mlflow.end_run()

    # find the best model
    for batch_size in [500, 1000, 2000, 3000, 4000]:
        for optimizer in [optimizers.Adam, optimizers.RMSprop]:
            sd_model.tune_model(
                define_tune_parameters=define_tune_parameters,
                dataset=cat_features_dataset,
                max_trials=max_trials,
                input_shape=features_dataset_shape,
                output_shape=output_shape,
                dense_layer_count='dense_layer_count',
                dense_units='dense_units',
                dense_activation='dense_activation',
                dense_l1_regularization='dense_l1_regularization',
                dense_l2_regularization='dense_l2_regularization',
                dense_dropout='dense_dropout',
                train_epochs=2000,
                train_batch_size=batch_size,
                train_optimizer=optimizer,
                train_learning_rate='learning_rate',
                train_loss='categorical_crossentropy',
                train_metrics=[tfa.metrics.F1Score(name='f1_score', num_classes=2, threshold=0.5, average='macro')],
                train_class_weight=None,
                tune_objective='val_f1_score',
                tune_direction='max',
                tuner_type=kt.tuners.BayesianOptimization,
                tune_patience=tune_patience)

### Baseline Model Features

In [ ]:
perform_experiment(
    experiment_name='04_000_baseline',
    train=train,
    val=val,
    test=test,
    labels=df_source_labels,
    features=df_features,
    feature_list=['elapsed_time_sum', 'elapsed_time_max', 'elapsed_time_min', 'elapsed_time_mean', 'elapsed_time_mode'],
    define_tune_parameters=define_tune_parameters,
)

### Create Datasets

In [ ]:
feature_list = [
    'count_unique_event_name',
    'count_unique_name',
    'count_unique_fqid',
    'count_unique_room_fqid',
    'count_unique_text_fqid',
    'elapsed_time_mean',
    'level_mean',
    'page_mean',
    'room_coor_x_mean',
    'room_coor_y_mean',
    'screen_coor_x_mean',
    'screen_coor_y_mean',
    'hover_duration_mean',
    'elapsed_time_std',
    'level_std',
    'page_std',
    'room_coor_x_std',
    'room_coor_y_std',
    'screen_coor_x_std',
    'screen_coor_y_std',
    'hover_duration_std'
]

In [ ]:
# set all nan values to 0
df_features = df_features.fillna(0)

In [ ]:
# create the simple model dataset
simple_model_dataset = md.get_feature_dataset(
    features=df_features,
    y=df_source_labels,
    feature_list=feature_list,
    train=train,
    val=val,
    test=test,
    include_question=True,
    expand_question=False)

In [ ]:
# convert the labels for multi-label classification
cat_features_dataset = md.labels_to_categorical(simple_model_dataset)

In [ ]:
# get the shape of the question only dataset
input_data = cat_features_dataset['train']['X']
features_dataset_shape = input_data.shape[1]
print('features_dataset_shape:', features_dataset_shape)

# define the output shape
output_data = cat_features_dataset['train']['y']
output_shape = output_data.shape[1]
print('output_shape', output_shape)

### Training

In [ ]:
# create the experiment
mlflow.set_experiment("04_001")

In [ ]:
mlflow.end_run()

In [ ]:
# create the hyperparameter object
def define_tune_parameters(hp):
    hp.Int('dense_layer_count', min_value=1, max_value=6, step=1)
    hp.Int('dense_units', min_value=512, max_value=1700, step=32)
    hp.Choice('dense_activation', values=['relu', 'tanh', 'LeakyReLU'])
    hp.Float('dense_l1_regularization', min_value=0.0, max_value=0.0005, step=0.00001)
    hp.Float('dense_l2_regularization', min_value=0.0, max_value=0.001, step=0.0001)
    hp.Float('dense_dropout', min_value=0.005, max_value=0.1, step=0.005)
    hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4, 1e-5, 1e-6])

In [ ]:
# find the best model
for batch_size in [500, 1000, 2000, 3000, 4000]:
    for optimizer in [optimizers.Adam, optimizers.RMSprop]:
        sd_model.tune_model(
            define_tune_parameters=define_tune_parameters,
            dataset=cat_features_dataset,
            max_trials=50,
            input_shape=features_dataset_shape,
            output_shape=output_shape,
            dense_layer_count='dense_layer_count',
            dense_units='dense_units',
            dense_activation='dense_activation',
            dense_l1_regularization='dense_l1_regularization',
            dense_l2_regularization='dense_l2_regularization',
            dense_dropout='dense_dropout',
            train_epochs=2000,
            train_batch_size=batch_size,
            train_optimizer=optimizer,
            train_learning_rate='learning_rate',
            train_loss='categorical_crossentropy',
            train_metrics=[tfa.metrics.F1Score(name='f1_score', num_classes=2, threshold=0.5, average='macro')],
            train_class_weight=None,
            tune_objective='val_f1_score',
            tune_direction='max',
            tuner_type=kt.tuners.BayesianOptimization,
            tune_patience=10)

## PyCaret

reference: https://pycaret.gitbook.io/docs/learn-pycaret/official-blog/predicting-crashes-in-gold-prices-using-pycaret#ensemble-models

In [16]:
#!pip install xgboost==1.6.2

In [17]:
#!pip install catboost==1.1.1

In [18]:
from pycaret.classification import *
import sklearn
from sklearn.metrics import classification_report
import pickle

In [19]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(pd.DataFrame(df_features.dtypes))

### Create Datasets

In [19]:
def get_features_with_labels(features:pd.DataFrame,
                            y:pd.DataFrame) -> pd.DataFrame:
    """
    Create a complete dataset where the label dataset containing the
    target variable is joint to the features dataset.
    """
    return y.join(features.set_index(['session_id', 'level_group']),
                    on=['session_id', 'level_group'],
                    how='left')

In [20]:
# combine the features and labels
df_combined = get_features_with_labels(features=df_features, y=df_source_labels)

with pd.option_context('display.max_columns', None):
    display(df_combined.head(2))

,session_id,question_num,correct,level_group,elapsed_time_sum,elapsed_time_max,elapsed_time_min,elapsed_time_mean,elapsed_time_mode,elapsed_time_std,count_total_event_name,count_total_name,count_total_fqid,count_total_room_fqid,count_total_text_fqid,count_total_level,count_unique_event_name,count_unique_name,count_unique_fqid,count_unique_room_fqid,count_unique_text_fqid,count_unique_level,level_sum,level_max,level_min,level_mean,level_mode,level_std,page_sum,page_max,page_min,page_mean,page_mode,page_std,room_coor_x_sum,room_coor_x_max,room_coor_x_min,room_coor_x_mean,room_coor_x_mode,room_coor_x_std,room_coor_y_sum,room_coor_y_max,room_coor_y_min,room_coor_y_mean,room_coor_y_mode,room_coor_y_std,screen_coor_x_sum,screen_coor_x_max,screen_coor_x_min,screen_coor_x_mean,screen_coor_x_mode,screen_coor_x_std,screen_coor_y_sum,screen_coor_y_max,screen_coor_y_min,screen_coor_y_mean,screen_coor_y_mode,screen_coor_y_std,hover_duration_sum,hover_duration_max,hover_duration_min,hover_duration_mean,hover_duration_mode,hover_duration_std
0,20090312431273200,1,1,0-4,0.008799,0.052789,0.0,0.023242,0.0,0.013341,0.088782,0.088782,0.064620,0.088782,0.054054,0.088782,0.75,0.000000,0.203390,0.090909,0.225,0.0,0.008384,0.111111,0.0,0.054040,0.083333,0.034194,0.0,NaN,NaN,NaN,0.0,NaN,0.602928,0.878566,0.120715,0.513742,0.351427,0.664471,0.611251,1.0,0.274126,0.524590,0.431725,0.736468,0.108532,0.672249,0.008772,0.357584,0.303030,0.171348,0.112915,0.875934,0.010463,0.493341,0.400598,0.076357,0.131210,1.0,0.005638,0.413060,1.0,0.487796
1,20090312433251036,1,0,0-4,0.008434,0.063325,0.0,0.026450,0.0,0.018252,0.057588,0.057588,0.053312,0.057588,0.050874,0.057588,1.00,0.333333,0.067797,0.000000,0.075,0.0,0.005167,0.111111,0.0,0.051958,0.083333,0.034239,0.0,0.0,0.0,0.0,0.0,0.0,0.531360,0.870427,0.082633,0.478427,0.358741,0.682440,0.629244,1.0,0.050337,0.542916,0.491507,0.763788,0.043705,0.697767,0.000000,0.285664,0.318182,0.201399,0.075188,0.875934,0.007474,0.474922,0.403587,0.101738,0.100932,1.0,0.005638,0.317745,1.0,0.428841

In [21]:
# get the training, validation and test datasets
df_train = df_combined[df_combined['session_id'].isin(train)]
df_val = df_combined[df_combined['session_id'].isin(val)]
df_test = df_combined[df_combined['session_id'].isin(test)]

with pd.option_context('display.max_columns', None):
    display(df_train.head(2))

,session_id,question_num,correct,level_group,elapsed_time_sum,elapsed_time_max,elapsed_time_min,elapsed_time_mean,elapsed_time_mode,elapsed_time_std,count_total_event_name,count_total_name,count_total_fqid,count_total_room_fqid,count_total_text_fqid,count_total_level,count_unique_event_name,count_unique_name,count_unique_fqid,count_unique_room_fqid,count_unique_text_fqid,count_unique_level,level_sum,level_max,level_min,level_mean,level_mode,level_std,page_sum,page_max,page_min,page_mean,page_mode,page_std,room_coor_x_sum,room_coor_x_max,room_coor_x_min,room_coor_x_mean,room_coor_x_mode,room_coor_x_std,room_coor_y_sum,room_coor_y_max,room_coor_y_min,room_coor_y_mean,room_coor_y_mode,room_coor_y_std,screen_coor_x_sum,screen_coor_x_max,screen_coor_x_min,screen_coor_x_mean,screen_coor_x_mode,screen_coor_x_std,screen_coor_y_sum,screen_coor_y_max,screen_coor_y_min,screen_coor_y_mean,screen_coor_y_mode,screen_coor_y_std,hover_duration_sum,hover_duration_max,hover_duration_min,hover_duration_mean,hover_duration_mode,hover_duration_std
1,20090312433251036,1,0,0-4,0.008434,0.063325,0.0,0.026450,0.0,0.018252,0.057588,0.057588,0.053312,0.057588,0.050874,0.057588,1.0,0.333333,0.067797,0.000000,0.075,0.0,0.005167,0.111111,0.0,0.051958,0.083333,0.034239,0.0,0.0,0.0,0.0,0.0,0.0,0.531360,0.870427,0.082633,0.478427,0.358741,0.682440,0.629244,1.0,0.050337,0.542916,0.491507,0.763788,0.043705,0.697767,0.000000,0.285664,0.318182,0.201399,0.075188,0.875934,0.007474,0.474922,0.403587,0.101738,0.100932,1.0,0.005638,0.317745,1.000000,0.428841
4,20090314441803444,1,1,0-4,0.005140,0.047938,0.0,0.021001,0.0,0.012045,0.019196,0.019196,0.025848,0.019196,0.022258,0.019196,0.5,0.000000,0.067797,0.090909,0.050,0.0,0.002373,0.111111,0.0,0.053738,0.055556,0.035234,0.0,NaN,NaN,NaN,0.0,NaN,0.609612,0.879013,0.154895,0.520039,0.470365,0.664119,0.644255,1.0,0.313764,0.560751,0.450186,0.728845,0.030450,0.688198,0.023126,0.343544,0.356459,0.175123,0.031477,0.792227,0.000000,0.457029,0.382661,0.072820,0.135595,1.0,0.005307,0.379436,0.165837,0.424970

### Setup Classification Experiment

In [22]:
fix_imbalance_method = 'SMOTE' #'RandomOverSampler'

classifier = setup(
    data=pd.concat([df_train, df_val]),
    target='correct',
    test_data=None, #df_val,
    session_id=random_state,
    experiment_name='04_001_pycaret',
    fix_imbalance=False,
    fix_imbalance_method=fix_imbalance_method,
    data_split_shuffle=True,
    data_split_stratify=['session_id'],
    fold_strategy='stratifiedkfold',
    use_gpu=False,
    html=True,
    verbose=True)

### Add Metrics

reference: https://pycaret.readthedocs.io/en/stable/api/classification.html#pycaret.classification.add_metric

In [23]:
def f1_macro(y_true, y_pred, **kwargs):
    return sklearn.metrics.f1_score(y_true, y_pred, average='macro')

add_metric('f1_macro', 'F1 Macro', f1_macro, greater_is_better=True)

Name                                              F1 Macro
Display Name                                      F1 Macro
Score Function       <function f1_macro at 0x7f3d0b2bc160>
Scorer                               make_scorer(f1_macro)
Target                                                pred
Args                                                    {}
Greater is Better                                     True
Multiclass                                            True
Custom                                                True
Name: f1_macro, dtype: object

### Training

In [24]:
top_model = compare_models(n_select=15, 
                           sort='F1 Macro',
                           cross_validation=True,
                           fold=10,
                           turbo=True)

Processing:   0%|          | 0/83 [00:00<?, ?it/s]

#### Evaluate Top Models

In [59]:
def evaluate_models(models:List,
                    data:pd.DataFrame) -> pd.DataFrame:
    f1_scores = []
    for model in tqdm(models):
        model_name = model.__class__.__name__
        df_pred = predict_model(estimator=model, data=data, verbose=False, raw_score=True)

        best_threshold = None
        best_f1 = None
        f1_score = f1_macro(y_true=df_pred.correct, y_pred=df_pred.prediction_label)
        
        try:
            best_threshold, _, _, best_f1 = optimize_f1(y_true=df_pred.correct, 
                                                        y_score=df_pred.prediction_score_1)
        except:
            logging.warning(f'Could not optimize F1 for model {model_name}')

        f1_scores.append({
            'model': model_name, 
            'f1_score': f1_score,
            'f1_optimized': best_f1,
            'threshold': best_threshold
        })

    return pd.DataFrame(f1_scores).sort_values(by='f1_score', ascending=False)

In [61]:
display(evaluate_models(top_model, df_test).sort_values(by='f1_optimized', ascending=False))

  0%|          | 0/15 [00:00<?, ?it/s]

2023-04-24 11:36:26 WARNING  Could not optimize F1 for model RidgeClassifier

                            model  f1_score  f1_optimized  threshold
1              CatBoostClassifier  0.638126      0.671955       0.64
2                  LGBMClassifier  0.635702      0.671914       0.64
3      GradientBoostingClassifier  0.619119      0.670720       0.65
7            ExtraTreesClassifier  0.623947      0.664246       0.62
0                   XGBClassifier  0.637696      0.663201       0.62
4          RandomForestClassifier  0.617844      0.656656       0.62
5              AdaBoostClassifier  0.607647      0.609284       0.50
9      LinearDiscriminantAnalysis  0.522566      0.607372       0.68
6          DecisionTreeClassifier  0.596548      0.596548       0.00
8   QuadraticDiscriminantAnalysis  0.553086      0.580680       0.86
10           KNeighborsClassifier  0.491885      0.492361       0.60
12             LogisticRegression  0.412718      0.479476       0.70
13                     GaussianNB  0.412718      0.479476       0.70
14                DummyClassifier  0.412718      0.412718       0.00
11                RidgeClassifier  0.505344           NaN        NaN

#### Select Top Models

In [62]:
selected_models = [
    top_model[1],
    top_model[2],
    top_model[3],
    top_model[7],
    top_model[0],
]

### Hyper-Parameter Tuning

In [63]:
tuned_models = []
for model in selected_models:
    tuned_model = tune_model(estimator=model, optimize='F1 Macro', fold=5, n_iter=50, verbose=True)
    tuned_models.append(tuned_model)

display(evaluate_models(tuned_models, df_test))

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 50 candidates, totalling 250 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 50 candidates, totalling 250 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 50 candidates, totalling 250 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 50 candidates, totalling 250 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 50 candidates, totalling 250 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

  0%|          | 0/5 [00:00<?, ?it/s]

                        model  f1_score  f1_optimized  threshold
3        ExtraTreesClassifier  0.647932      0.668157       0.43
1              LGBMClassifier  0.641288      0.663093       0.62
4               XGBClassifier  0.637696      0.663201       0.62
0          CatBoostClassifier  0.637214      0.659425       0.64
2  GradientBoostingClassifier  0.629891      0.647894       0.63

### Ensemble Models

reference: https://github.com/Riazone/Gold-Return-Prediction/blob/master/Classification/Gold%20Prediction%20Experiment%20%20Classification-%20PyCaret.ipynb

In [65]:
bagging_models = []
for model in tuned_models:
    new_model = ensemble_model(estimator=model,
                                    method='Bagging',
                                    optimize='F1 Macro',
                                    fold=5,
                                    n_estimators=10,
                                    verbose=True)
    bagging_models.append(new_model)

display(evaluate_models(bagging_models, df_test))

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

               model  f1_score  f1_optimized  threshold
3  BaggingClassifier  0.646661      0.668445       0.44
1  BaggingClassifier  0.639287      0.670756       0.66
0  BaggingClassifier  0.638344      0.671012       0.64
4  BaggingClassifier  0.637844      0.672705       0.63
2  BaggingClassifier  0.632516      0.664621       0.65

In [66]:
boosting_models = []
for model in tuned_models:
    boosting_model = ensemble_model(estimator=model,
                                    method='Boosting',
                                    optimize='F1 Macro',
                                    fold=5,
                                    n_estimators=10,
                                    verbose=True)
    boosting_models.append(boosting_model)

display(evaluate_models(boosting_models, df_test))

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

                model  f1_score  f1_optimized  threshold
3  AdaBoostClassifier  0.665067      0.670567       0.49
0  AdaBoostClassifier  0.636517      0.652004       0.52
1  AdaBoostClassifier  0.412718      0.412718       0.00
2  AdaBoostClassifier  0.412718      0.412718       0.00
4  AdaBoostClassifier  0.229132      0.412718       0.00

### Best Models

In [67]:
trained_models = [
    { 'name': 'selected_models', 'models': selected_models },
    { 'name': 'tuned_models', 'models': tuned_models },
    { 'name': 'bagging_models', 'models': bagging_models },
    { 'name': 'boosting_models', 'models': boosting_models },
]

# evaluate the models
df_models = pd.DataFrame()
for trained_model in trained_models:
    df_model = evaluate_models(trained_model['models'], df_test)
    df_model['model_group'] = trained_model['name']

    df_models = pd.concat([df_models, df_model])

# keep the index to identify the models
df_models = df_models.reset_index(drop=False)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

In [68]:
df_models

,index,model,f1_score,f1_optimized,threshold,model_group
0,0,CatBoostClassifier,0.638126,0.671955,0.64,selected_models
1,4,XGBClassifier,0.637696,0.663201,0.62,selected_models
2,1,LGBMClassifier,0.635702,0.671914,0.64,selected_models
3,3,ExtraTreesClassifier,0.623947,0.664246,0.62,selected_models
4,2,GradientBoostingClassifier,0.619119,0.670720,0.65,selected_models
5,3,ExtraTreesClassifier,0.647932,0.668157,0.43,tuned_models
6,1,LGBMClassifier,0.641288,0.663093,0.62,tuned_models
7,4,XGBClassifier,0.637696,0.663201,0.62,tuned_models
8,0,CatBoostClassifier,0.637214,0.659425,0.64,tuned_models
9,2,GradientBoostingClassifier,0.629891,0.647894,0.63,tuned_models
10,3,BaggingClassifier,0.646661,0.668445,0.44,bagging_models
11,1,BaggingClassifier,0.639287,0.670756,0.66,bagging_models
12,0,BaggingClassifier,0.638344,0.671012,0.64,bagging_models
13,4,BaggingClassifier,0.637844,0.672705,0.63,bagging_models
14,2,BaggingClassifier,0.632516,0.664621,0.65,bagging_models
15,3,AdaBoostClassifier,0.665067,0.670567,0.49,boosting_models
16,0,AdaBoostClassifier,0.636517,0.652004,0.52,boosting_models
17,1,AdaBoostClassifier,0.412718,0.412718,0.00,boosting_models
18,2,AdaBoostClassifier,0.412718,0.412718,0.00,boosting_models
19,4,AdaBoostClassifier,0.229132,0.412718,0.00,boosting_models

In [70]:
# sort the dataframe by index and f1_score in descending order
df_models_sorted = df_models.sort_values(['index', 'f1_score'], ascending=[True, False])

# drop duplicates by index and model_group, keeping the first occurrence (i.e., the one with the highest f1_score)
result_df = df_models_sorted.drop_duplicates(['index'], keep='first')

# reset the index of the result dataframe
result_df = result_df.reset_index(drop=True)

display(result_df.sort_values(by='f1_optimized', ascending=False))

,index,model,f1_score,f1_optimized,threshold,model_group
4,4,BaggingClassifier,0.637844,0.672705,0.63,bagging_models
0,0,BaggingClassifier,0.638344,0.671012,0.64,bagging_models
3,3,AdaBoostClassifier,0.665067,0.670567,0.49,boosting_models
2,2,BaggingClassifier,0.632516,0.664621,0.65,bagging_models
1,1,LGBMClassifier,0.641288,0.663093,0.62,tuned_models

In [71]:
best_models = [
   bagging_models[4],
   bagging_models[0],
   boosting_models[3],
   bagging_models[2],
   tuned_models[1]
]

In [76]:
display(evaluate_models(best_models, df_test) \
    .sort_values(by='f1_optimized', ascending=False))

  0%|          | 0/5 [00:00<?, ?it/s]

                model  f1_score  f1_optimized  threshold
0   BaggingClassifier  0.637844      0.672705       0.63
1   BaggingClassifier  0.638344      0.671012       0.64
2  AdaBoostClassifier  0.665067      0.670567       0.49
3   BaggingClassifier  0.632516      0.664621       0.65
4      LGBMClassifier  0.641288      0.663093       0.62

### Blending Models

In [78]:
blend_all = blend_models(
    estimator_list=best_models,
    fold=5,
    optimize='F1 Macro',
    method='auto',
    verbose=True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [79]:
display(evaluate_models([blend_all], df_test))

  0%|          | 0/1 [00:00<?, ?it/s]

              model  f1_score  f1_optimized  threshold
0  VotingClassifier  0.640759      0.672388       0.61

In [84]:
blended_models = []
model_index = 0

for base_index in range(0, len(best_models)):
    for blend_index in range(base_index+1, len(best_models)):
        if base_index == blend_index:
            continue

        logging.info('{} Blending model {} with model {}'.format(model_index, base_index, blend_index))
        blend_model = blend_models(
            estimator_list=[best_models[base_index], best_models[blend_index]],
            fold=5,
            optimize='F1 Macro',
            method='auto',
            verbose=False)
        
        blended_models.append(blend_model)
        model_index += 1

2023-04-24 12:47:59 INFO     0 Blending model 0 with model 1
2023-04-24 12:48:10 INFO     1 Blending model 0 with model 2
2023-04-24 12:48:16 INFO     2 Blending model 0 with model 3
2023-04-24 12:48:23 INFO     3 Blending model 0 with model 4
2023-04-24 12:54:15 INFO     4 Blending model 1 with model 2
2023-04-24 12:57:14 INFO     5 Blending model 1 with model 3
2023-04-24 13:18:32 INFO     6 Blending model 1 with model 4
2023-04-24 13:20:03 INFO     7 Blending model 2 with model 3
2023-04-24 13:40:49 INFO     8 Blending model 2 with model 4
2023-04-24 13:42:45 INFO     9 Blending model 3 with model 4

In [87]:
display(evaluate_models(blended_models, df_test) \
        .sort_values(by='f1_optimized', ascending=False))

  0%|          | 0/10 [00:00<?, ?it/s]

              model  f1_score  f1_optimized  threshold
0  VotingClassifier  0.638077      0.673272       0.63
1  VotingClassifier  0.645063      0.672984       0.56
4  VotingClassifier  0.645436      0.671868       0.57
6  VotingClassifier  0.641620      0.670996       0.63
2  VotingClassifier  0.634958      0.670871       0.65
3  VotingClassifier  0.640903      0.670716       0.64
5  VotingClassifier  0.636271      0.669770       0.65
9  VotingClassifier  0.638628      0.668443       0.64
7  VotingClassifier  0.640218      0.666356       0.57
8  VotingClassifier  0.647431      0.664691       0.56

### Stacking Models

In [89]:
stack_001 = stack_models(
    estimator_list=[blended_models[0], blended_models[9], best_models[2]],
    meta_model=None,
    restack=False
)

display(evaluate_models([stack_001], df_test))

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

                model  f1_score  f1_optimized  threshold
0  StackingClassifier  0.636501      0.674617       0.65

In [91]:
save_model(stack_001, 'stack_001')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['session_id', 'question_num',
                                              'elapsed_time_sum',
                                              'elapsed_time_max',
                                              'elapsed_time_min',
                                              'elapsed_time_mean',
                                              'elapsed_time_mode',
                                              'elapsed_time_std',
                                              'count_total_event_name',
                                              'count_total_name',
                                              'count_total_fqid',
                                              'count_total_room_fqid',
                                              '...
                                                                     n_estimators=10,
                                                                     random_state=51))],
                                     final_estimator=LogisticRegression(C=1.0,
                                                                        class_weight=None,
                                                                        dual=False,
                                                                        fit_intercept=True,
                                                                        intercept_scaling=1,
                                                                        l1_ratio=None,
                                                                        max_iter=1000,
                                                                        multi_class='auto',
                                                                        n_jobs=None,
                                                                        penalty='l2',
                                                                        random_state=51,
                                                                        solver='lbfgs',
                                                                        tol=0.0001,
                                                                        verbose=0,
                                                                        warm_start=False),
                                     n_jobs=-1, passthrough=False,
                                     stack_method='auto', verbose=0))],
          verbose=False),
 'stack_001.pkl')

In [90]:
stack_002 = stack_models(
    estimator_list=[blended_models[0], blended_models[9], best_models[2]],
    fold=5,
    optimize='F1 Macro',    
    meta_model=None,
    restack=False
)

display(evaluate_models([stack_002], df_test))

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

                model  f1_score  f1_optimized  threshold
0  StackingClassifier  0.636501      0.674617       0.65

In [99]:
!pip install m2cgen

Requirement already satisfied: m2cgen in /home/jfoul001/.conda/envs/dsm010/lib/python3.8/site-packages (0.10.0)
Requirement already satisfied: numpy in /home/jfoul001/.local/lib/python3.8/site-packages (from m2cgen) (1.22.0)

In [98]:
type(stack_001)

sklearn.ensemble._stacking.StackingClassifier

In [106]:
convert_model(stack_001)

ModuleNotFoundError:
'm2cgen' is a soft dependency and not included in the pycaret installation. Please run: `pip install m2cgen` to install.